<h1>Nouveau message sur un projet de groupe depuis restaurant anniversaire paris ! </h1>

<p>
	Téléphone du contact : <%= @telephone %>
</p>

<p>
	Email du contact : <%= @email %>
</p>

<p>
	Date de l'évenement : <%= @date %>
</p>

<p>
	Nombre de personnes : <%= @nb_person %>
</p>

<p>
	Budget personne : <%= @budget %>
</p>

<p>
	Commentaires : <%= @comment %>
</p>

<p>
	URL de provenance de la demande :
	<br />
	<%= @refering %>
</p>
