<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Restaurants pour anniversaire à Paris</h1>
      <hr>
      <p>Le guide pour trouver gratuitement le meilleur restaurant pour votre anniversaire à Paris !</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Trouver votre restaurant !</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">

      <div class="col-md-6 text-center col-md-offset-1 col-md-push-5">

        <h2 class="section-heading">Votre projet</h2>
        <hr class="light">
        <%= render partial: "layouts/form/project_form_1" %>
      </div>

      <hr class="light visible-xs visible-sm">

      <div class="col-md-5 text-center col-md-pull-7">
        <h2 class="section-heading">Nous recherchons pour vous !</h2>
        <hr class="light">

        <div class="row">

          <div class="col-xs-12">
            <h4 class="text-uppercase">
              <b>Qualité</b>
            </h4>
            Une séléction des meilleurs restaurants pour anniversaire : Aucun risque de se tromper. Nous ne retenons que les restaurants proposant la meilleure nourriture et offrant une expérience unique au client.
          </div>
        </div>
        <hr class="light">

        <div class="row">

          <div class="col-xs-12">
            <h4 class="text-uppercase">
              <b>Rapidité</b>
            </h4>
            Nous nous engageons à vous faire une proposition précise et selon vos critères dans un délai de 4 heures.
          </div>
        </div>
        <hr class="light">
        <div class="row">

          <div class="col-xs-12">
            <h4 class="text-uppercase">
              <b>Aucun Frais</b>
            </h4>
            Nous organisons la recherche, la privatisation et la réservation du restaurant gratuitement pour vous ! Nous avons des relations privilégiées avec les restaurants de Paris.
            <br/>
          </div>
        </div>
        <hr class="light">

        <div class="row">

          <div class="col-xs-12">
            <h4 class="text-uppercase">
              <b>Un service personnalisé</b>
            </h4>
            Pour chaque projet, un assistant personnel vous guidera et vous aidera dans votre séléction de restaurant. Votre assistant est disponible de 8h00 à 23h00 7J/J pour traiter votre demande.
          </div>
        </div>
        <hr class="light">

        <div class="row">

          <div class="col-sm-4 col-sm-offset-2 text-center col-xs-6">

            <i class="fa fa-phone fa-3x wow bounceIn"></i>
            <p>
              01.76.38.00.24
            </p>

          </div>
          <div class="col-sm-4 text-center col-xs-4">

            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p>
              contact@restaurant-anniversaire-paris.fr
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Le meilleur service de recherche de restaurant pour anniversaire</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
          <h3>Première plateforme à Paris</h3>
          <p class="text-muted">Nous sommes la première plateforme de recherche de restaurant pour des anniversaires et des fêtes sur Paris.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Réponse en moins de 4 heures</h3>
          <p class="text-muted">Décrivez-nous votre événement et en moins de 4 heures recevez des premières propositions de restaurant.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Un service sur mesure</h3>
          <p class="text-muted">Nous sommes une équipe constitué de passionnés de gastronomie. Privatisation de salle, gâteau d'anniversaire, restaurant club... nous gérons tout !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Les meilleurs restaurants</h3>
          <p class="text-muted">Nous vous proposons uniquement les restaurants que nous avons personnelement essayés.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Lisez tous nos conseils pour réussir son anniversaire</h2>
      <a href="/group/2-article" class="btn btn-default btn-xl wow tada">Découvrir tous les articles</a>
    </div>
  </div>
</aside>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/1.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Catégorie
              </div>
              <div class="project-name">
                Restaurants pour filles
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/2.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Catégorie
              </div>
              <div class="project-name">
                Restaurant original
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/3.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Catégorie
              </div>
              <div class="project-name">
                Restaurants à concept
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/4.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Catégorie
              </div>
              <div class="project-name">
                Restaurant Halal
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/5.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Categorie
              </div>
              <div class="project-name">
                Restaurants club
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <%= image_tag "portfolio/6.jpg", class: "img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Catégorie
              </div>
              <div class="project-name">
                Restaurant bar à cocktail
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="presentation">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h2 class="text-center">Fêter son anniversaire au restaurant</h2>
        <hr class="light">
        <p>
          <strong>Organiser son anniversaire</strong>
          ou un événement festif au restaurant n'est pas une tâche facile. Il faut avoir une connaissance pointue des restaurants dans Paris adaptés à un anniversaire et connâitre les prestations que chaque lieu peut offrir. Nous pouvons vous aider à
          <strong>louer une salle</strong>
          dans Paris, à
          <strong>privatiser le restaurant</strong>
          le plus original dans Paris ou encore vous trouver un
          <strong>restaurant classique</strong>
          à la cuisine exceptionnelle.

        </p>
        <p>
          Nous travaillons en étroite collaboration avec des centaines de restaurants dans Paris. Nous pouvons gratuitement effectuer une
          <strong>recherche de restaurant</strong>
          pour
          <strong>fêter un anniversaire</strong>. Décrivez-nous votre projet, nous vous donnerons des propositions de restaurant en moins de 4 heures. Nous négocierons pour vous le menu d'anniversaire, ainsi que les prestations comme la musique, la
          privatisation et le gâteau d'anniversaire. Notre service est 100% gratuit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col text-center">
        <h2 class="section-heading">Décrivez nous votre projet</h2>
        <hr class="light">
        <%= render partial: "layouts/form/project_form_1" %>

      </div>
    </div>

  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="section-heading">Suivez-nous !</h2>
        <hr class="primary">
        <div class="row text-center">
          <div class="col-sm-3 hidden-xs"></div>
          <div class="col-sm-2 col-xs-4">
            <a href="https://www.facebook.com/www.happydining.fr?ref=bookmarks">
              <i class="fa fa-facebook wow bounceIn fa-3x" data-wow-delay=".1s"></i>
            </a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="https://twitter.com/Happy_Dining_">
              <i class="fa fa-twitter wow bounceIn fa-3x" data-wow-delay=".1s"></i>
            </a>
          </div>
          <div class="col-sm-2 col-xs-4">
            <a href="https://plus.google.com/+HappydiningFrance/posts">
              <i class="fa fa-google-plus wow bounceIn fa-3x" data-wow-delay=".1s"></i>
            </a>
          </div>
          <div class="col-sm-3 hidden-xs"></div>

        </div>
        <p>Suivez-nous sur nos différents réseaux sociaux afin d'être au courant des nouveaux restaurants originaux à Paris pour fêter son anniversaire.</p>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-4 col-sm-offset-2 text-center col-xs-6">
        <a href="tel:33176380024">
          <i class="fa fa-phone fa-3x wow bounceIn"></i>
          <p>
            01.76.38.00.24
          </p>
        </a>
      </div>
      <div class="col-sm-4 text-center col-xs-4">
        <a href="mailto:contact@happydining.fr">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>
            contact@restaurant-anniversaire-paris.fr
          </p>
        </a>
      </div>
    </div>

  </div>
</section>
