<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Restaurant anniversaire Paris - Réussir son anniversaire" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Trouvez le meilleur restaurant à Paris pour fêter un anniversaire. Privatisation de salle pour anniversaire, restaurant boite club pour anniversaire. Restaurant Halal sur Paris. " %>">
<%= favicon_link_tag 'favicon.ico' %>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="<%= content_for?(:title) ? yield(:title) : "Restaurant Anniversaire Paris" %>">
<meta itemprop="description" content="<%= content_for?(:description) ? yield(:description) : "Trouvez le meilleur restaurant à Paris pour fêter un anniversaire. Privatisation de salle pour anniversaire, restaurant boite club pour anniversaire. Restaurant Halal sur Paris. " %>">

<meta name="keywords" lang="fr" content="<%= content_for?(:keywords) ? yield(:keywords) : "restaurant, anniversaire, groupe, restaurant club, restaurant boite, restaurant groupe, restaurant halal" %>">
<meta itemprop="image" content="<%= content_for?(:image) ? yield(:image) : "https://res.cloudinary.com/happydining/image/upload/v1437039576/community/page_happydining.jpg" %>">



<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@Happy_Dining_">
<meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : "Restaurant anniversaire à Paris" %>">
<meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : "Trouvez le meilleur restaurant à Paris pour fêter un anniversaire. Privatisation de salle pour anniversaire, restaurant boite club pour anniversaire. Restaurant Halal sur Paris. " %>">
<meta name="twitter:image" content="<%= content_for?(:image) ? yield(:image) : "https://res.cloudinary.com/happydining/image/upload/v1437039576/community/page_happydining.jpg" %>">
<meta name="twitter:url" content="<%= "http://#{request.host+request.fullpath}" %>">

<!-- Open Graph data -->
<meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : "Restaurant anniversaire à Paris" %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= "http://#{request.host+request.fullpath}" %>"/>
<meta property="og:image" content="<%= content_for?(:image) ? yield(:image) : "https://res.cloudinary.com/happydining/image/upload/v1437039576/community/page_happydining.jpg" %>" />
<meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : "Trouvez le meilleur restaurant à Paris pour fêter un anniversaire. Privatisation de salle pour anniversaire, restaurant boite club pour anniversaire. Restaurant Halal sur Paris. " %>" />
<meta property="og:site_name" content="Restaurant Anniversaire Paris" />
<meta property="og:locale" content="FR" />

<!-- Google plus author -->
<link rel="publisher" href="https://plus.google.com/+HappydiningFrance"/>
<link rel="canonical" href="<%= "http://#{request.host+request.fullpath}" %>" itemprop="url" />
